body {
font-family: serif;
font-size: 1.2em;
background-color: #fddaef;
margin: 1rem;
}


p {
line-height: 1.25;
margin: 0.8rem 0;
}

h1 {
color: blue;
font-family: Arial, sans-serif;
}

h2, h3, h4, h5, h6 {
color: #cc22ff;
font-family: Arial, sans-serif;
}


.python-block {
border: 1px solid black;
padding: 0.8rem;
overflow-x: auto;
background: #fff;
}


#special::first-letter {
font-weight: bold;
font-size: 300%;
}

.highlight {
background-color: #fff7e6;
padding: 0.4rem;
border-left: 4px solid #ffd166;
}


.note {
font-style: italic;
color: #333066;
padding: 0.4rem;
border-radius: 6px;
}

code {
background: #f3f3f3;
padding: 0.12rem 0.3rem;
border-radius: 3px;
}